

/client/__javascript__/*
/client/app.js

/firebase/fbsacckeyorig.json
/firebase/fbsacckey.json
/s/toenv.bat

/upload/*
!/upload/ReadMe.md
/download/*
!/download/ReadMe.md


/cache/*

__pycache__/

debug.log

