[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
flask = "*"
flask-socketio = "*"
gunicorn = "*"
eventlet = "*"
"urllib3" = {extras = ["secure"]}
selenium = "*"
pyyaml = "*"
"heroku3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
